<table class="table table-striped ">
  <thead>
    <tr>
    <th>Teacher</th>
    <th>Section</th>
    <th>Subject</th>
    <!-- <th>Code</th> -->
    <th>Time</th>
    <th>Length</th>
    <th>Completed?</th>
    <th>Actions</th>
    </tr>
  </thead>

<tbody>
    <%= render @session %>       
</tbody>

</table>

<div>
<h4>Students:</h4>
        <%@session.students.each do |student| %>
        
            <%= student.name %>, 
        
        <% end %>

</div>

