<!-- student.section may change to student.class_group.name -->
<label><%= @student.name %>, <%= @student.section %>
  <input type="checkbox" name="session[:students[<%= @student.id %>]]">
</label>