<% @title = "Sessions" %>
<h1>Hello sessions</h1>

<%= render @sessions %>


<div class="past"></div>
<div class="upcoming"></div>

<!-- show sessions here most recent first -->
<!-- @teacher.sessions  -->
<!-- click on "Teacher's Sessions" to get to here -->
