<h1>Session Details</h1>
<!-- show the info for the session -->
<%= render partial: "details" %>

<!-- show past breaches in this session -->

<%= render @breaches %>

<!-- form for creating a new breach IF it is not completed -->
<% unless @session.is_completed %>
<%= render "breaches/form" %>
<% end %>
