<h1>Session Details</h1>
<!-- show the info for the session -->
<%= render partial: "details" %>

<!-- show past breaches in this session -->
<% unless @session.breaches.empty? %>
<h2>Breaches</h2>
<%= render @breaches %>
<% end %>

<!-- form for creating a new breach IF it is not completed -->
<% unless @session.is_completed %>
<%= render "breaches/form" %>
<% end %>
