<table class="table table-striped table-bordered">
  <thead>
    <tr>
        <th>Person</th>
        <th>Contribution</th>
    </tr>
</thead>
<tbody>
    <% breach.contributions.each do |contribution| %>

    <% end %>
</tbody>
</table>