<table class="table table-striped ">
  <thead>
    <tr>
    <th>Teacher</th>
    <th>Student</th>
    <th>Subject</th>
    <th>Time</th>
    <th>Completed?</th>
    </tr>
  </thead>

<tbody>
    <%= render @conference %>       
</tbody>

</table>

