/* Loaded after Bootstrap */
$alert: rgba(238,59,55,1);
$primary: rgba(0,136,204,1);

a {
  cursor: pointer;
}

.group:after { content: ""; display: table; clear: both; }

div.errors { background-color: $alert; color: #fff; margin-bottom: 30px; 
	ul { list-style: none; padding: 10px; }
}

div.flash { color: #fff; padding: 10px; text-align: center; }
div#alert { background-color: $alert; }
div#notice { background-color: $primary; }

header#global {
	div.authentication { float: right; margin-top: 20px;}
	h1 { color: #ccc; display: inline-block; }
}

nav#global { clear: both; }

.commands {
  margin: 10px 0;
  text-align: right;
  > a {
    
  }
}

.modal {
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: white;
  form {
    margin: 0;
  }
}
  .modal-header {
    border-bottom: 1px solid #eee;
    padding: 0 10px;
  }
  .modal-body {
    padding: 10px;
  }
  .modal-footer {
    padding: 10px;
    border-top: 1px solid #eee;
    text-align: right;
  }

/* selector */
.teacher-students {

}

section.col {
  float: left;
  width: 450px;
  margin-right: 20px;
}

.row-selector {
  .selector-column {
    float: left;
    width: 200px;
    height: 300px;
    margin-right: 10px;
  }

  .teacher-student-title {
    padding: 5px 0;
    font-size: 24.5px;
  }

  .row {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;

    &:hover {
      background: rgb(200, 200, 255);
    }
  }
}

